In [1]:
#Import Relevant Libraries

import pandas as pd
import numpy as np

df_train = pd.read_csv("Data_Processed\Simple\Data_Preprocessed.csv", index_col=0)
df_test = pd.read_csv("Data_Processed\Simple\Data_Preprocessed_Test.csv", index_col=0)

df_test_mod = df_test.drop(columns=["PassengerId"])
df_train.head()

   Survived  Pclass  Sex  Age     Fare  Embarked  Alone  Title
0         0       3    0  1.0   7.2500         0      0      1
1         1       1    1  2.0  71.2833         1      0      3
2         1       3    1  1.0   7.9250         0      1      2
3         1       1    1  2.0  53.1000         0      0      3
4         0       3    0  2.0   8.0500         0      1      1

In [2]:
#Set Features and Targets
targets = df_train["Survived"]

features_x = df_train.drop(columns=["Survived"])
features_x.head()

   Pclass  Sex  Age     Fare  Embarked  Alone  Title
0       3    0  1.0   7.2500         0      0      1
1       1    1  2.0  71.2833         1      0      3
2       3    1  1.0   7.9250         0      1      2
3       1    1  2.0  53.1000         0      0      3
4       3    0  2.0   8.0500         0      1      1

In [3]:
#Spli the dataset into training and testing with a set random state

from sklearn.model_selection import train_test_split
seed = 100
X_train, X_test, y_train, y_test = train_test_split(features_x, targets, test_size=0.1, random_state = seed)

In [4]:
#Import Model library, fit, predict and measure accuracy

from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators = 10)

xgb.fit(X_train,y_train)

preds = xgb.predict(X_test)

acc_xgb = (preds == y_test).sum().astype(float) / len(preds)*100

print(acc_xgb)

[10:58:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
86.66666666666667

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [5]:
#For submission
y_sub = xgb.predict(df_test_mod)
predictions = pd.DataFrame(columns=["PassengerId", "Survived"])
predictions["PassengerId"] = df_test["PassengerId"]
predictions["Survived"] = y_sub

predictions.to_csv("Submission.csv", index = False)